{% extends "_base.njk" %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <a id="back-link" class="govuk-back-link" href="">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Maximum permitted file size exceeded.
      </h1>
      <p class="govuk-body">
        Try again with a smaller file size.
      </p>
      <p class="govuk-body">
        Contact the NatureScot Licensing Team if you need to speak to someone
        about applying for a licence.
      </p>
      <p class="govuk-body">
        Email:<br>
        <strong class="govuk-!-font-weight-bold">
          <a class="govuk-link" href="mailto:licensing@nature.scot">
            licensing@nature.scot
          </a>
        </strong>
      </p>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script src="{{pathPrefix}}/dist/back.js"></script>
{% endblock %}
