{% extends "_base.njk" %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Privacy Policy for online licensing services</h1>

      <p class="govuk-body">This policy applies to the content of the online applications available at:</p>

      <p class="govuk-body">Trap registrations: <a class="govuk-link" href="https://licensing.nature.scot/gulls-health-and-safety/">https://licensing.nature.scot/trap-registration/start</a></p>

      <p class="govuk-body">Standard forestry operations: <a class="govuk-link" href="https://licensing.nature.scot/gulls-health-and-safety-return/">https://licensing.nature.scot/standard-forestry-operations/start</a></p>

      <p class="govuk-body">Standard forestry operations (returns):<a class="govuk-link" href="https://licensing.nature.scot/gulls-health-and-safety/">https://licensing.nature.scot/standard-forestry-operations-return/start</a></p>

      <p class="govuk-body">Gulls health and safety: <a class="govuk-link" href="https://licensing.nature.scot/gulls-health-and-safety-return/">https://licensing.nature.scot/gulls-health-and-safety/intro</a></p>

      <p class="govuk-body">Gulls health and safety (returns): <a class="govuk-link" href="https://licensing.nature.scot/gulls-health-and-safety-return/">https://licensing.nature.scot/gulls-health-and-safety-return/intro</a></p>

      <p class="govuk-body">Land on which red grouse may be killed or taken: <a class="govuk-link" href="https://licensing.nature.scot/gulls-health-and-safety-return/">https://licensing.nature.scot/red-grouse/apply</a></p>

      <h2 class="govuk-heading-m">Who collects your personal data</h2>

      <p class="govuk-body">The data controller is Scottish Natural Heritage known as NatureScot at:</p>

      <p class="govuk-body">Great Glen House<br>Leachkin Road<br>Inverness<br>IV3 8NW</p>

      <h2 class="govuk-heading-m">What personal data is collected and how it's used</h2>

      <p class="govuk-body">NatureScot will use the information from the application for its licensing functions, including:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>processing and issuing a licence</li>
        <li>monitoring compliance with licence conditions</li>
        <li>reports and returns</li>
      </ul>

      <p class="govuk-body">The personal information NatureScot processes will include your:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>name</li>
        <li>contact details</li>
        <li>postcode</li>
      </ul>

      <h2 class="govuk-heading-m">The legal basis for processing your personal data</h2>

      <p class="govuk-body">Processing your data is necessary for the:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>performance of a task carried out in the public interest</li>
        <li>exercise of official authority vested in the data controller</li>
      </ul>

      <p class="govuk-body">The task is to conduct the functions in relation to licences as delegated by The Scottish Ministers to Scottish Natural Heritage under the Wildlife and Countryside Act 2018.</p>

      <h2 class="govuk-heading-m">Consent to process your data</h2>

      <p class="govuk-body">Your data is processed based on the information you provide in a licence application. Once a licence is granted, your data will be held in accordance with the retention periods listed in this policy.</p>

      <p class="govuk-body">If you wish for NatureScot to terminate your licence before the expiry date, you can request a cancellation.</p>

      <h2 class="govuk-heading-m">Who NatureScot shares your personal data with</h2>

      <p class="govuk-body">We may share your information with third parties at certain stages of the licensing process.</p>

      <p class="govuk-body">We may do this to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>check information you provide on an application</li>
        <li>monitor effects on protected species</li>
        <li>provide the service</li>
      </ul>

      <p class="govuk-body">We only share information when necessary and anonymously whenever possible.</p>

      <p class="govuk-body">The table shows the organisations NatureScot shares information with and why.</p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Organisation</th>
            <th scope="col" class="govuk-table__header">Sharing purpose</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Statutory nature conservation bodies</th>
            <td class="govuk-table__cell">Compliance, enforcement, licence assessment </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Scottish Government</th>
            <td class="govuk-table__cell">Compliance, enforcement, licence assessment</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Authorised enforcement agencies e.g. Police Scotland</th>
            <td class="govuk-table__cell">Compliance, enforcement activity</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">GOV.UK Notify service</th>
            <td class="govuk-table__cell">To issue email correspondence</td>
          </tr>
        </tbody>
      </table>

      <p class="govuk-body">We may make some information available where there's public interest in wildlife licensing. Information released may include, but is not limited to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>licensed activities and purposes</li>
        <li>species</li>
        <li>geographic data</li>
        <li>total number of licences issued for a period (for example, a month or year)</li>
        <li>reports and returns</li>
      </ul>

      <p class="govuk-body">We will not release information for licensed activities that are sensitive or could harm people, species or habitats, for example names and addresses of individuals, locations of licensed activities.</p>

      <p class="govuk-body">We respect your personal privacy when responding to access to information requests. We only share information when necessary to meet the statutory requirements of the Environmental Information (Scotland) Regulations 2004 and Freedom of Information Act 2000.</p>

      <h2 class="govuk-heading-m">How long NatureScot holds personal data</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Service</th>
            <th scope="col" class="govuk-table__header">Retention Period</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">All licences</th>
            <td class="govuk-table__cell">5 years past licence expiry date</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Licences that are terminated before the expiry date (revoked or cancelled)</th>
            <td class="govuk-table__cell">5 years past revocation or cancellation date</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Licence applications that have been withdrawn (before a licence is issued)</th>
            <td class="govuk-table__cell">Immediately</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Licence applications that have been refused</th>
            <td class="govuk-table__cell">5 years past date of refusal</td>
          </tr>
        </tbody>
      </table>

      <p class="govuk-body">We require to keep your personal data to monitor licensing activities. We may share this data with other public sector bodies such as Police Scotland to support law enforcement.</p>

      <p class="govuk-body">The expiry date is either the date specified on the licence, or the date a licence was terminated. For example, due to revocation or cancellation.</p>

      <p class="govuk-body">Your previous licences  may be considered in the decision-making process.</p>

      <h2 class="govuk-heading-m">What happens to your personal data at the end of the retention period</h2>

      <p class="govuk-body">When your licence reaches the end of the retention period, we will anonymise the following personal identifiable information:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Full name</li>
        <li>Email address</li>
        <li>Postal address except for your postcode</li>
        <li>Telephone number</li>
      </ul>

      <p class="govuk-body">We retain the postcode and use this to model species populations and assess the effectiveness of licensed activities. If you do not want NatureScot to retain your postcode, you must inform us.</p>

      <h2 class="govuk-heading-m">What happens if you do not provide the data</h2>

      <p class="govuk-body">We will be unable to grant your licence if you do not provide the data.</p>

      <h2 class="govuk-heading-m">Use of automated decision-making or profiling</h2>

      <p class="govuk-body">The information you provide is not used for:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>automated decision making (a decision made by automated means without any human involvement)</li>
        <li>profiling (automated processing of personal data to learn certain things about you)</li>
      </ul>

      <h2 class="govuk-heading-m">Transfer of data outside the United Kingdom (UK) European Economic Area (EEA)</h2>

      <p class="govuk-body">We will not transfer your data outside the UK or EEA.</p>

      <h3 class="govuk-heading-m">Changes to this privacy notice</h3>

      <p class="govuk-body">We reserve the right to update this privacy notice at any time, and we will provide you with a new privacy notice when we make substantial updates.</p>

      <h2 class="govuk-heading-m">Your rights</h2>

      <p class="govuk-body">Find out about your <a class="govuk-link" href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/" target="_blank">individual rights (opens in new tab) under the General Data Protection Regulation (GDPR), the Data Protection Act 2018.</a></p>

      <h2 class="govuk-heading-m">Complaints</h2>

      <p class="govuk-body">You have the right to <a class="govuk-link" href="https://ico.org.uk/make-a-complaint/" target="_blank">make a complaint (opens in new tab)</a> to the Information Commissioner's Office at any time.</p>

      <p class="govuk-body"><a class="govuk-link" href="https://www.nature.scot/about-naturescot/access-information-and-services/access-information/privacy-notice" target="_blank">View NatureScot's main NatureScot privacy notices.</a></p>

      <p class="govuk-body">If you have any other questions about how NatureScot uses your personal data and your associated rights contact the Data Protection Manager.</p>

      <p class="govuk-body">Data Protection Officer<br>NatureScot<br>Battleby<br>Redgorton<br>Perth<br>PH1 3EW<br><a class="govuk-link" href="mailto:dpo@nature.scot">dpo@nature.scot</a></p>

    </div>
  </div>

{% endblock %}
