@use 'naturescot-frontend/naturescot/all' as * with (
  $path-prefix: '',
  $govuk-font-family: ('Roboto', sans-serif),
  $govuk-assets-path: '/govuk-frontend/assets/',
  $naturescot-logo: '/dist/naturescot-logo.png'
);

body {
  margin: 0;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    local('Roboto'),
    local('Roboto-Regular'),
    url('./Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:
    local('Roboto Bold'),
    local('Roboto-Bold'),
    url('./Roboto-Bold.woff2') format('woff2');
}

